body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 300px;
}

.inputs input {
    width: 80px;
    margin: 15px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1.2em;
}

.buttons button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px 25px;
    margin: 15px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.buttons button#resetBtn {
    background-color: #FF5454;
}

.buttons button:hover {
    background-color: #45a049;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
}
