*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(212, 219, 255);
}

.heading{
    margin: auto;
    margin-top: 5em;
    width: fit-content;
}
.heading h1{
    font-size: 34px;
}

.credits{
    background-color: aqua;
}
.credits p {
    font-size: 14px;
    position: absolute;
    bottom: 0;
    /* left: 50%; */
}

#container{
    background-color: rgb(94, 105, 255);
    margin: auto;
    margin-top: 4em;
    width: 50%;
    height: 26em;
    border-radius: 50px;
    box-shadow: 0 0 12px rgb(0, 0, 0.1);
}

.labels{
    /* background-color: red; */
    width: 100%;
    display: flex;
    margin: auto;
}
.label{
    margin: auto;
    font-size: 5rem;
    font-weight: bold;
    color: #303030;
}


.label:hover{
    cursor: default;
    color: rgb(0, 0, 0);
}
.inputs{
    /* background-color: grey; */
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
}
.inputs *{
    margin: 1em auto;
}
.time{
    background-color: transparent;
    height: 5em;
    text-align: center;
    border: none;
    border-bottom: 2px solid #303030;
    outline: none;
    font-size: 1.2em;
    width: 10%;
    transition: border-color 0.2s;
    cursor: pointer;
}

.time:focus{
    border: 2px solid white;
    /* border-radius: 20px; */
    border-top: transparent;
    border-left: transparent;
}

.buttons{
    width: 60%;
    display: flex;
    margin: auto;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: red;
    margin: 1em;
    width: 30%;
    height: 5em;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    font-size: 1em;
    transition: 0.2s;
}

#start{
    background-color: rgb(140, 255, 140);
    box-shadow: 0 0 20px rgb(94, 255, 94);
}
#reset{
    background-color: rgb(255, 140, 140);
    box-shadow: 0 0 20px rgb(255, 94, 94);
}
#start:hover{
    width: 35%;
    height: 5em;
    background-color: rgb(94, 255, 94);
}
#reset:hover{
    width: 35%;
    height: 5em;
    background-color: rgb(255, 94, 94);
}




@media only screen and (max-width: 455px) {
    /* body{
        background-color: lightblue;
    } */
    #container{
        margin-top: 3em;
        width: 90%;
    }
    .label{
        font-size: 1.5rem;
    }
    .label{
        margin-top: 3.5em;
    }
    .time{
        font-size: .5em;
    }
    .inputs{
        margin-top: 2em;
    }
    .btn{
        height: 3.5em;
        width: 75%;
    }
    .btn:hover{
        height: 3.5em;
        width: 75%;
    }
    .buttons{
        margin-top: 1.5em;
        display: block;
        text-align: center;
    }

    
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 455px) {
    /* body{
        background-color: green;
    } */
    #container{
        width: 85%;
    }
    .label{
        font-size: 2rem;
    }
    .label{
        margin-top: 1.5em;
    }
    .time{
        font-size: .7em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 630px) {
    /* body{
        background-color: yellow;
    } */
    .label{
        font-size: 2.5rem;
    }
    .label{
        margin-top: 1em;
    }
    .time{
        font-size: 1em;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 794px) {
    /* body{
        background-color: pink;
    } */
    .label{
        font-size: 3rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
    body{
        background-color: red;
    }
} */
